{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "graphql": true
  },
  "rules": {
    "strict": 0,
    "quotes": [
      "warn",
      "single"
    ],
    "prettier/prettier": ["off", {}, {
      "usePrettierrc": false
    }],
    "react/prop-types": "warn",
    "no-unused-vars": "warn",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["prettier", "jsx-a11y"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
